@page "/panel/showUsers"
@using MarketplaceBlazorApp.Shared
@inject HttpClient Http
@attribute [Authorize(Roles = "Admin")]

<h3>Kullanıcılar</h3>

@if (users == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <a href="AddOrEditUser/0">Yeni kullanıcı ekle.</a>
    <table class="table">
        <thead>
            <tr>
                <th>UserID</th>
                <th>Ad Soyad</th>
                <th>TCKNO</th>
                <th>Mail</th>
                <th>Şifre</th>
                <th>Yetki</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                if (user.Role == Roles.Engellenmiş)
                {
                    <tr class="table-dark">
                        <td>@user.UserID</td>
                        <td>@(user.Name + " " + user.Surname)</td>
                        <td>@user.Tckno</td>
                        <td>@user.Mail</td>
                        <td>@user.Password</td>
                        <td>@user.Role</td>
                        <td><a href="@("AddOrEditUser/" + user.UserID)" class="btn disabled">Düzenle</a></td>
                        <td><a href="#" @onclick="@(() => BanUser(user))">Engeli Kaldır</a></td>
                        <td><a href="#" @onclick="@(() => DeleteUser(user.UserID))">Sil</a></td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>@user.UserID</td>
                        <td>@(user.Name + " " + user.Surname)</td>
                        <td>@user.Tckno</td>
                        <td>@user.Mail</td>
                        <td>@user.Password</td>
                        <td>@user.Role</td>
                        <td><a href="@("AddOrEditUser/" + user.UserID)">Düzenle</a></td>
                        <td><a href="#" @onclick="@(() => BanUser(user))">Engelle</a></td>
                        <td><a href="#" @onclick="@(() => DeleteUser(user.UserID))">Sil</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>

}

@code {
    private IEnumerable<UserModel> users;

    protected override async Task OnInitializedAsync()
    {
        users = await Http.GetJsonAsync<IEnumerable<UserModel>>("api/user/0");
    }

    async Task BanUser(UserModel user)
    {
        user.ConfirmPassword = user.Password;
        user.Role = user.Role == Roles.Engellenmiş ? Roles.Kullanıcı : Roles.Engellenmiş;
        await Http.PutJsonAsync("api/user/", user);
    }

    async Task DeleteUser(int userID)
    {
        await Http.DeleteAsync($"api/user/{userID}");
    }
}
