@page "/category"
@using MarketplaceBlazorApp.Shared
@inject HttpClient Http

<h3>Category</h3>

@if (categories0 == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="form-row align-items-center mb-3">
        <div class="col-auto">
            <select id="level0" class="form-control" @onchange="Level0Changed">
                <option>Kategori Seçiniz</option>
                @foreach (var category in categories0)
                {
                    <option value="@category.CategoryID">@category.CategoryName</option>
                }
            </select>
        </div>
        <div class="col-auto">
            <input @bind="selectedID0" class="form-control" />
        </div>
        <div class="col-auto">
            <input @bind="@newValue1" class="form-control" />
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary" @onclick="@(() => UpdateCategory(0))" data-toggle="tooltip" data-placement="bottom" title="Seçilen kategori için yeni bir isim giriniz">Seçilen kategoriyi güncelle</button>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary" @onclick="@(() => AddNewCategory(0))" data-toggle="tooltip" data-placement="bottom" title="Seçilen bir üst kategorinin altına ekler">Yeni kategori ekle</button>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary" @onclick="@(() => DeleteCategory())" data-toggle="tooltip" data-placement="bottom" title="Silebilmek için önce kategoriye ait ilanların silinmesi gerekir">Sil</button>
        </div>
    </div>
}
@if (categories1 == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="form-row align-items-center mb-3">
        <div class="col-auto">
            <select id="level1" class="form-control" @onchange="Level1Changed">
                <option>Kategori Seçiniz</option>
                @foreach (var category in categories1)
                {
                    <option value="@category.CategoryID">@category.CategoryName</option>
                }
            </select>
        </div>
        <div class="col-auto">
            <input @bind="selectedID1" class="form-control" />
        </div>
        <div class="col-auto">
            <input @bind="@newValue1" class="form-control" />
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary" @onclick="@(() => UpdateCategory(1))" data-toggle="tooltip" data-placement="bottom" title="Seçilen kategori için yeni bir isim giriniz">Seçilen kategoriyi güncelle</button>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary" @onclick="@(() => AddNewCategory(1))" data-toggle="tooltip" data-placement="bottom" title="Seçilen bir üst kategorinin altına ekler">Yeni kategori ekle</button>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary" @onclick="@(() => DeleteCategory())" data-toggle="tooltip" data-placement="bottom" title="Silebilmek için önce kategoriye ait ilanların silinmesi gerekir">Sil</button>
        </div>
    </div>
}
@if (categories2 == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="form-row align-items-center mb-3">
        <div class="col-auto">
            <select id="level2" class="form-control" @onchange="Level2Changed">
                <option>Kategori Seçiniz</option>
                @foreach (var category in categories2)
                {
                    <option value="@category.CategoryID">@category.CategoryName</option>
                }
            </select>
        </div>
        <div class="col-auto">
            <input @bind="selectedID2" class="form-control" />
        </div>
        <div class="col-auto">
            <input @bind="@newValue2" class="form-control" />
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary" @onclick="@(() => UpdateCategory(2))" data-toggle="tooltip" data-placement="bottom" title="Seçilen kategori için yeni bir isim giriniz">Seçilen kategoriyi güncelle</button>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary" @onclick="@(() => AddNewCategory(2))" data-toggle="tooltip" data-placement="bottom" title="Seçilen bir üst kategorinin altına ekler">Yeni kategori ekle</button>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary" @onclick="@(() => DeleteCategory())" data-toggle="tooltip" data-placement="bottom" title="Silebilmek için önce kategoriye ait ilanların silinmesi gerekir">Sil</button>
        </div>
    </div>
}




@code {
    private IEnumerable<CategoryModel> categories0, categories1, categories2;

    private int selectedID0, selectedID1, selectedID2;
    private string newValue0, newValue1, newValue2;

    protected override async Task OnInitializedAsync()
    {
        categories0 = await Http.GetJsonAsync<IEnumerable<CategoryModel>>("api/category/0");
    }

    async Task Level0Changed(ChangeEventArgs e)
    {
        categories1 = null;
        categories2 = null;
        categories1 = await Http.GetJsonAsync<IEnumerable<CategoryModel>>("api/category/" + e.Value);
        selectedID0 = Convert.ToInt32(e.Value);
    }

    async Task Level1Changed(ChangeEventArgs e)
    {
        categories2 = await Http.GetJsonAsync<IEnumerable<CategoryModel>>("api/category/" + e.Value);
        selectedID1 = Convert.ToInt32(e.Value);
    }

    void Level2Changed(ChangeEventArgs e)
    {
        selectedID1 = Convert.ToInt32(e.Value);
    }

    //async Task CheckChildCategory(CategoryModel category)
    //{
    //    IEnumerable<CategoryModel> categories = await Http.GetJsonAsync<IEnumerable<CategoryModel>>("api/category/" + category.CategoryID);
    //    if (categories == null)
    //    {

    //    }
    //}

    async Task UpdateCategory(byte level)
    {
        CategoryModel categoryModel;

        switch (level)
        {
            case 0:
                categoryModel = new CategoryModel(selectedID0, newValue0, 0);
                break;
            case 1:
                categoryModel = new CategoryModel(selectedID1, newValue1, selectedID0);
                break;
            case 2:
                categoryModel = new CategoryModel(selectedID2, newValue2, selectedID1);
                break;
            default:
                categoryModel = null;
                break;
        }

        await Http.PutJsonAsync("api/category", categoryModel);
    }

    async Task AddNewCategory(byte level)
    {
        CategoryModel categoryModel;

        switch (level)
        {
            case 0:
                categoryModel = new CategoryModel(newValue0, 0);
                break;
            case 1:
                categoryModel = new CategoryModel(newValue1, selectedID0);
                break;
            case 2:
                categoryModel = new CategoryModel(newValue2, selectedID1);
                break;
            default:
                categoryModel = null;
                break;
        }

        await Http.PutJsonAsync("api/category", categoryModel);
    }

    async Task DeleteCategory()
    {

    }


}


