@page "/itemDetails/{itemID:int}"
@using MarketplaceBlazorApp.Shared
@inject HttpClient Http

<h3>İlan Detayları</h3>

@if (item == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <h3>@item.Title</h3>
    </div>
    <div class="row">
        <div class="col-sm-6">
            @if (item.ItemPhotos != null)
            {
                @foreach (var item in item.ItemPhotos)
                {
                    if (item != null && item.Path != "")
                    {
                        <div>
                            <img width="200" src="@("img/" + item.Path)" /><br />
                        </div>
                    }
                }
            }
        </div>
        <div class="col-sm-6">
            <div class="row">
                <p>Fiyat : @item.Price</p>
            </div>
            <div class="row">
                <p>Yayınlanma Tarihi : @item.ReleaseDate</p>
            </div>
            <div class="row">
                <p>Görüntülenme Sayısı : @item.ClickCount</p>
            </div>
        </div>
    </div>
    <div class="row">
        <p>@item.Description</p>
    </div>
    <div class="row">
        <h4>Adres:</h4><br />
        @if (regionNames != null)
        {
            <p>@regionNames[0].City </p>
            <p>@regionNames[0].County </p>
            <p>@regionNames[0].District </p>
            <p>@regionNames[0].Neighborhood </p>
        }
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="map">Konumu :</label><br />
                <iframe id="map"
                        width="600"
                        height="300"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB43_d1ZZdKVhjF_M3ywopNqwNLmiRoZmE&q='@regionNames[0].City'+'@regionNames[0].County'">
                </iframe>
            </div>
        </div>
    </div>
}

@code
{
    [Parameter] public int itemID { get; set; }
    private ItemModel[] items;
    private ItemModel item;

    private CascadingRegionNames[] regionNames;

    protected override async Task OnInitializedAsync()
    {
        items = await Http.GetJsonAsync<ItemModel[]>($"api/Item/{itemID}/0");
        item = items[0];
        await GetNamesOfRegions(item.NeighborhoodID);
        await Http.PostJsonAsync($"api/Item/UpdateClickCount", item.ItemID);
    }

    async Task GetNamesOfRegions(int neighborhoodID)
    {
        regionNames = await Http.GetJsonAsync<CascadingRegionNames[]>("api/Region/GetCascadingRegionNames/" + neighborhoodID);
    }

}
