@page "/region"
@using MarketplaceBlazorApp.Shared
@inject HttpClient Http

@if (cities == null)
{
    <select class="form-control"><option>İller yükleniyor</option></select>
}
else
{
    <select id="cities" @onchange="CitySelectionChanged" class="form-control">
        <option>Şehir Seçiniz</option>
        @foreach (var city in cities)
        {
            <option value="@city.CityID">@city.City</option>
        }
    </select>
}
@if (counties == null)
{
    <select class="form-control"><option>İl seçiniz</option></select>
}
else
{
    <select id="counties" @onchange="CountySelectionChanged" class="form-control">
        <option>İlçe Seçiniz</option>
        @foreach (var county in counties)
        {
            <option value="@county.CountyID">@county.County</option>
        }
    </select>
}
@if (districts == null)
{
    <select class="form-control"><option>İlçe seçiniz</option></select>
}
else
{
    <select id="districts" @onchange="DistrictSelectionChanged" class="form-control">
        <option>Semt Seçiniz</option>
        @foreach (var district in districts)
        {
            <option value="@district.DistrictID">@district.District</option>
        }
    </select>
}
@if (neighborhoods == null)
{
    <select class="form-control"><option>Semt seçiniz</option></select>
}
else
{
    <select id="neighborhoods" @onchange="NeighborhoodSelectionChanged" class="form-control">
        <option>Mahalle Seçiniz</option>
        @foreach (var neighborhood in neighborhoods)
        {
            <option value="@neighborhood.NeighborhoodID">@neighborhood.Neighborhood</option>
        }
    </select>
}

Seçilen mahalledi ID : @neighborhoodID

@code {
    private RegionCityModel[] cities;
    private RegionCountyModel[] counties;
    private RegionDistrictModel[] districts;
    private RegionNeighborhoodModel[] neighborhoods;

    public int neighborhoodID { get; set; } = 0;

    [Parameter]
    public EventCallback<int> OnChange { get; set; }


    protected override async Task OnInitializedAsync()
    {
        cities = await Http.GetJsonAsync<RegionCityModel[]>("api/Region/Cities");
    }

    async Task CitySelectionChanged(ChangeEventArgs e)
    {
        counties = null;
        districts = null;
        neighborhoods = null;
        counties = await Http.GetJsonAsync<RegionCountyModel[]>("api/Region/Counties/" + e.Value);
    }

    async Task CountySelectionChanged(ChangeEventArgs e)
    {
        districts = null;
        neighborhoods = null;
        districts = await Http.GetJsonAsync<RegionDistrictModel[]>("api/Region/Districts/" + e.Value);
    }

    async Task DistrictSelectionChanged(ChangeEventArgs e)
    {
        neighborhoods = null;
        neighborhoods = await Http.GetJsonAsync<RegionNeighborhoodModel[]>("api/Region/Neighborhoods/" + e.Value);
    }

    async Task NeighborhoodSelectionChanged(ChangeEventArgs e)
    {
        neighborhoodID = Convert.ToInt32(e.Value);
        await OnChangeInternal(e);
    }

    async Task OnChangeInternal(ChangeEventArgs e)
    {
        if (OnChange.HasDelegate)
        {
            await OnChange.InvokeAsync(Convert.ToInt32(e.Value));
        }
    }
}
