@page "/showItems"
@using MarketplaceBlazorApp.Shared
@inject HttpClient Http
@attribute [Authorize(Roles = "Admin, Editör")]

<h3>İlanlar</h3>

@if (items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <a clas="h3" href="AddOrEditItem/0">Yeni ilan ekle.</a>

    <input placeholder="Min" value="" @onchange="PriceFilterMin" />
    <input placeholder="Max" value="" @onchange="PriceFilterMax" />

    <select id="states" @onchange="ItemStateChanged" class="form-control">
        <option value="255">Tüm İlanlar</option>
        <option value="0">Bekleyen İlanlar</option>
        <option value="1">Onaylanmış İlanlar</option>
        <option value="2">Kaldırılmış İlanlar</option>
    </select>

    <table class="table">
        <thead>
            <tr>
                <th>ItemID</th>
                <th>Başlık</th>
                <th>Açıklama</th>
                <th><a @onclick="SortByPrice">Fiyat</a></th>
                <th><a @onclick="SortByDate">Yayınlanma Tarihi</a></th>
                <th>Profil Foto</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in items)
            {
            <tr>
                <td>@item.ItemID</td>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.Price</td>
                <td>@item.ReleaseDate</td>
                @if (item.ProfilePhotoPath == null || item.ProfilePhotoPath == "")
                {
                    <td><img width="100" src="img/NoImage.png" /></td>
                }
                else
                {
                    <td><img width="100" src="@("img/" + item.ProfilePhotoPath)" /></td>
                }
                <td><a href="@("AddOrEditItem/" +  item.ItemID)">Düzenle</a></td>
            </tr>
            }
        </tbody>
    </table>
}

@code {

    private IEnumerable<ItemModel> items, origItems;
    private bool sortByPriceState = true;
    private bool sortByDateState = true;
    private float minPrice, maxPrice;

    protected override async Task OnInitializedAsync()
    {
        origItems = await Http.GetJsonAsync<IEnumerable<ItemModel>>("api/Item");
        items = origItems;
    }

    #region Filters

    private void ItemStateChanged(ChangeEventArgs e)
    {
        if (e.Value.ToString() == "255")
        {
            items = origItems;
        }
        else
        {
            items = origItems.Where(x => Convert.ToByte(x.State) == Convert.ToByte(e.Value));
        }
    }

    private void PriceFilterMin(ChangeEventArgs e)
    {
        items = origItems.Where(x => x.Price >= Convert.ToDecimal(e.Value));
    }

    private void PriceFilterMax(ChangeEventArgs e)
    {
        items = origItems.Where(x => x.Price <= Convert.ToDecimal(e.Value));
    }

    #endregion

    #region Sorting

    private void SortByPrice()
    {
        if (sortByPriceState)
        {
            items = items.OrderBy(x => x.Price);
            sortByPriceState = false;
        }
        else
        {
            items = items.OrderByDescending(x => x.Price);
            sortByPriceState = true;
        }
    }

    private void SortByDate()
    {
        if (sortByDateState)
        {
            items = items.OrderBy(x => x.ReleaseDate);
            sortByDateState = false;
        }
        else
        {
            items = items.OrderByDescending(x => x.ReleaseDate);
            sortByDateState = true;
        }
    }

    #endregion
}
